@import "antd.min.css";

.ant-layout-header {
  display: flex;
  height: 68px;
  padding: 0;
  background-color: #ffffff;
}

.trigger {
  font-size: 18px;
  line-height: 68px;
  padding: 0 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #108ee9;
}

/* .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
} */

/* Header Search */

.header-search {
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.header-search .input {
  width: 0;
  background: transparent;
  border-radius: 0;
  transition: width 0.3s, margin-left 0.3s;
}

.header-search .show-input {
  width: 210px;
  margin-left: 8px;
}

.header-search .input {
  background: transparent;
}
.header-search .input input {
  padding-right: 0;
  padding-left: 0;
  border: 0;
  box-shadow: none !important;
}
.header-search .input,
.header-search .input:hover,
.header-search .input:focus {
  border-bottom: 1px solid;
}
.header-search .show-input {
  width: 210px;
  margin-left: 8px;
}

/* Navbar */

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.avatar {
  margin-right: 8px;
  background: rgba(255, 255, 255, 0.85);
}

@media (max-width: 576px) {
  .navbar-header {
    padding-right: 0;
  }

  .ant-layout-header {
    height: 130px;
  }
}
